.hero {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 70vh;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;

    &-background {
        content: '';
        background: url('../../assets/hero-img.jpg') no-repeat center
            center/cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 700px;
        margin: auto;
        padding: 1rem;
    }

    h1 {
        font-size: 2.5rem;
        text-transform: capitalize;
    }

    .search-text {
        margin: 1.5rem;
        font-size: 1.4rem;
    }

    .search {
        display: flex;
        background-color: #fff;
        color: #333;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ccc;
        padding: 4px;
        border-radius: 8px;
        div {
            width: 100%;
            position: relative;
            input[type='text'] {
                border: transparent;
                background-color: transparent;
                width: 100%;
                font-size: 1.2rem;
                font-family: 'Inter', sans-serif;
                &:focus {
                    outline: none;
                }
            }

            .keyword-dropdown {
                position: absolute;
                display: none;
                flex-direction: column;
                align-items: start;
                width: 100%;
                z-index: 10;
                font-size: 16px;
                border-width: 2px;
                border-color: #5651e5;
                background-color: #ffffff;
                color: #000000;
                border-radius: 0 0 9px 9px;
                li {
                    display: flex;
                    width: 100%;
                    padding: 1rem;
                    font-weight: 700;
                    cursor: pointer;
                    font-size: 16px;
                    border-bottom: 2px solid #00b4e8;
                    background-color: #ffffff;
                    color: #333;

                    &:hover {
                        background-color: grey;
                    }
                }
            }
        }

        label {
            padding: 0 14px 0 8px;
        }

        .radio {
            display: flex;
            align-items: center;
        }

        button {
            border: 1px solid #5651e5;
            color: white;
            padding: 10px;
            background-image: linear-gradient(45deg, #5651e5 0%, #709dff 100%);
            border-radius: 8px;
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 940px) {
    .hero {
        height: 80vh;

        h1 {
            font-size: 3.5rem;
        }

        .search {
            input[type='text'] {
                width: 400px;
            }
        }
    }
}
